/* ===================================
   ESTILOS ESPECÍFICOS - PACIENTE
   ===================================
*/

@import '../../../styles/entity-base.css';

:root {
    --entity-primary: #6610f2;        /* Índigo */
    --entity-primary-hover: #520dc2;
    --entity-primary-light: #e0d1fe;
}